@import '../../styles/variables'

#project
    background-color: $gunmetal
    color: $light-cyan

    p, h1, h2, h3, h4, h5, h6
        margin: 0

    main, div
        box-sizing: border-box

    main
        min-height: 100vh
        padding: 8rem 2rem

        @media (max-width: $mobile-width)
            padding: 4rem 1rem

    a
        color: $burnt-sienna
        text-decoration: none
        transition: all 0.2s ease-in-out

    a:hover
        color: $dark-sky-blue

    .container
        max-width: 650px
        margin: 0 auto
        padding: 2rem

    .breadcrumb
        display: flex
        align-items: center
        padding: 0
        margin-bottom: 2rem

        list-style-type: none

    .markdown
        font-size: 1.2rem
        line-height: 1.5
        margin: 2rem 0

        p
            margin-bottom: 2rem

        code
            background-color: $gunmetal
            padding: 0.2rem
            border-radius: 0.2rem

        img
            max-width: 100%
