@import '../../styles/variables'

#home
    background-color: $bdazzled-blue
    color: $light-cyan
    font-family: $font-family-sans-serif
    p, h1, h2, h3, h4, h5, h6
        margin: 0

    main
        div
            box-sizing: border-box

    .hero-container
        min-height: 60vh
        max-width: 650px
        margin: 0 auto
        padding: 2rem
        padding: 8rem 2rem 2rem 4rem

        @media (max-width: $mobile-width)
            height: 100vh

        .bio
            font-size: 3rem
            margin: 0

            @media (max-width: $mobile-width)
                font-size: 2.5rem

        .links
            address
                display: flex
                justify-content: flex-start
                margin-top: 1rem

                a
                    margin-left: 1rem
                    color: $light-cyan
                    font-size: 1.5rem
                    text-decoration: none
                    transition: all 0.2s ease-in-out

                a:hover
                    color: $burnt-sienna

            .projects-link
                margin-top: 5rem
                color: $light-cyan
                font-size: 1.5rem
                text-decoration: none
                transition: all 0.2s ease-in-out
                display: flex
                align-items: center

                &:hover
                    color: $burnt-sienna

    .projects-section
        background: $dark-sky-blue

        .projects-container
            display: grid
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
            background: $gunmetal
            column-gap: 1px
            row-gap: 1px

            padding: 1rem

            @media (max-width: $mobile-width)
                padding: 0

        .project
            aspect-ratio: 3/4
            background: $dark-sky-blue
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding: 1rem
            position: relative

            .project-content
                z-index: 10

            &::before
                content: ''
                display: block
                width: 100%
                height: 100%
                position: absolute
                top: 0
                left: 0
                background: black
                opacity: 0.25

            .project-title
                font-weight: normal
                text-align: center
                position: relative

                &::after
                    content: ''
                    display: block
                    left: 25%
                    width: 50%
                    height: 1px
                    position: relative
                    background: $gunmetal
                    opacity: 0.25

            .project-description
                margin: 1rem 2rem

            .project-technologies
                padding: 1rem
                display: flex

                span
                    margin-left: 0.5rem
                    padding: 0.25rem 0.5rem
                    font-weight: bold
                    background-color: $gunmetal
                    color: $dark-sky-blue
                    border-radius: 0.25rem

            .project-actions
                margin-top: 1rem
                padding-left: 1rem
                a
                    color: $light-cyan
                    font-size: 1.5rem
                    text-decoration: none
                    transition: all 0.2s ease-in-out
                    display: flex
                    align-items: center

                    &:hover
                        color: $burnt-sienna

    // main
    //     height: calc(100vh - #{$header-height})
    //     background-color: $bdazzled-blue
    //     color: $light-cyan
    //     display: flex

    //     @media (max-width: $mobile-width)
    //         flex-direction: column
    //         height: calc(100vh + #{$header-height} + 100vh)

    //         .bio
    //             height: calc(100vh - #{$header-height})
    //             padding-bottom: 0

    //         .projects
    //             height: 100vh

    // .bio
    //     flex: 1
    //     text-align: center
    //     padding-bottom: 25%

    //     h1, h2, p
    //         font-family: $font-family-sans-serif
    //         margin: 0

    //     h1
    //         font-size: 1.5em
    //         font-weight: normal
    //         letter-spacing: -2px
    //         text-transform: uppercase

    //     h2
    //         font-size: 1.25em
    //         font-weight: 600
    //         letter-spacing: -1px
    //         margin-bottom: 1rem

    //     .inner-container
    //         height: 100%
    //         display: flex
    //         flex-direction: column
    //         align-items: center
    //         justify-content: center

    // .projects
    //     flex: 2
    //     background-color: $light-cyan
    //     min-width: 600px    

    //     h3
    //         text-align: center
    //         height: 2.5rem
    //         margin: 0

    //     .projects-container
    //         box-sizing: border-box
    //         height: calc(100% - 2.5rem)
    //         padding: 2rem
    //         display: grid
    //         grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    //         grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    //         gap: 0.25rem
    //         grid-template-areas: ". . . . . . . . . . . . . ytsync ytsync ytsync ytsync ytsync ytsync ytsync" ". . . . . hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites ytsync ytsync ytsync ytsync ytsync ytsync ytsync" "blue-leopards blue-leopards blue-leopards blue-leopards blue-leopards hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites ytsync ytsync ytsync ytsync ytsync ytsync ytsync" "blue-leopards blue-leopards blue-leopards blue-leopards blue-leopards hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites hdcc-job-sites ytsync ytsync ytsync ytsync ytsync ytsync ytsync" "blue-leopards blue-leopards blue-leopards blue-leopards blue-leopards snipit snipit snipit snipit snipit snipit snipit snipit ytsync ytsync ytsync ytsync ytsync ytsync ytsync" "blue-leopards blue-leopards blue-leopards blue-leopards blue-leopards snipit snipit snipit snipit snipit snipit snipit snipit ytsync ytsync ytsync ytsync ytsync ytsync ytsync" "blue-leopards blue-leopards blue-leopards blue-leopards blue-leopards snipit snipit snipit snipit snipit snipit snipit snipit . foodie foodie foodie foodie foodie ." "blue-leopards blue-leopards blue-leopards blue-leopards blue-leopards snipit snipit snipit snipit snipit snipit snipit snipit . foodie foodie foodie foodie foodie ." ". job-melon job-melon job-melon job-melon job-melon hacc hacc hacc hacc hacc hacc hacc hacc foodie foodie foodie foodie foodie ." ". job-melon job-melon job-melon job-melon job-melon hacc hacc hacc hacc hacc hacc hacc hacc foodie foodie foodie foodie foodie ." ". job-melon job-melon job-melon job-melon job-melon hacc hacc hacc hacc hacc hacc hacc hacc foodie foodie foodie foodie foodie ." ". job-melon job-melon job-melon job-melon job-melon hacc hacc hacc hacc hacc hacc hacc hacc foodie foodie foodie foodie foodie ." ". job-melon job-melon job-melon job-melon job-melon hacc hacc hacc hacc hacc hacc hacc hacc foodie foodie foodie foodie foodie ." ". job-melon job-melon job-melon job-melon job-melon hacc hacc hacc hacc hacc hacc hacc hacc shooots shooots shooots shooots . ." ". . twitch-clouted twitch-clouted twitch-clouted twitch-clouted hacc hacc hacc hacc hacc hacc hacc hacc shooots shooots shooots shooots . ." ". . twitch-clouted twitch-clouted twitch-clouted twitch-clouted hacc hacc hacc hacc hacc hacc hacc hacc shooots shooots shooots shooots . ." ". . twitch-clouted twitch-clouted twitch-clouted twitch-clouted hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 . . ." ". . twitch-clouted twitch-clouted twitch-clouted twitch-clouted hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 . . ." ". . twitch-clouted twitch-clouted twitch-clouted twitch-clouted hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 . . ." ". . . . . . hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 hacc-2021 . . .";

    //         align-content: start
    //         justify-content: center

    //         .project
    //             position: relative
    //             box-sizing: border-box
    //             height: 100%
    //             text-align: center
    //             background-size: contain
    //             margin: auto 0

    //             h4
    //                 position: absolute
    //                 bottom: 0
    //                 width: 100%
    //                 font-family: $font-family-sans-serif
    //                 color: $baby-powder
    //                 font-size: 1.5rem
    //                 font-weight: normal
    //                 margin: 0
    //                 background: rgba(41, 50, 65, .5);                    

    //         .hdcc-job-sites
    //             grid-area: hdcc-job-sites
    //         .ytsync
    //             grid-area: ytsync
    //         .snipit
    //             grid-area: snipit
    //         .blue-leopards
    //             grid-area: blue-leopards
    //         .foodie
    //             grid-area: foodie
    //         .hacc
    //             grid-area: hacc
    //         .job-melon
    //             grid-area: job-melon
    //         .shooots
    //             grid-area: shooots
    //         .hacc-2021
    //             grid-area: hacc-2021
    //         .twitch-clouted
    //             grid-area: twitch-clouted
