main {
	height: calc(100vh - 40vh - 5vh);
}

.main-content-wrapper {
	display: flex;
	justify-content: center;
}
.main-content {
	background: var(--palette-1-4);
	width: 75%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: center;
}

.card-project {
	margin: 1em 0;
	width: 400px;
	height: 300px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	background-size: cover;
	opacity: 0.5;
}