main {
	/* height: calc(100vh - 40vh - 5vh); */
}

.main-content-wrapper {
	display: flex;
	justify-content: center;
}
.main-content {
	background: var(--palette-1-4);
	width: 75%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-content: center;
}

/** Dark mode **/
main.dark-1 {
	background-color: var(--palette-1-3);
}

.main-content.dark-1 {
	background-color: var(--dark-palette-1-1);
}

/***************/