header {
	background: var(--palette-1-4);
	/* height: 40vh; */
	position: relative;
}

/* Dark Mode */
header.dark-1 {
	background: var(--dark-palette-1-1);
	color: var(--dark-palette-1-2);
}

.name.dark-1 {
	color: var(--dark-palette-1-2);
}
/************/
.button-darkmode {
	position: absolute;
	top: 10%;
	left: 90%;
	transform: translate(-50%, -50%);
}

header > h1.name {
	margin: 0;
	padding: 2em 2em 1em 2em;
	display: flex;
	justify-content: space-around;
	font-weight: 100;
	color: var(--palette-1-5);
}

.header-content {
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
}

.headshot {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid var(--palette-1-1);
}

.header-content-text {
	width: 200px;
	margin-left: 1em;
}

a.link-github {
	color: var(--palette-1-5);
	text-decoration: none;
}

a.link-github:hover {
	text-decoration: underline;
}