@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
	max-width: 320px;
}
@media (min-width:400)  { }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
.App {
	background: #FFF;

	max-width: 700px;
}

/* Core Styles */

img {
	/* display: block;
	width:100%;
	height: auto; */
}
h1, h2, h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

.btn {
	display: inline-block;
	background: #333;
	color: white;
	text-decoration: none;
	padding: .5em 1em;
	border: 1px solid #666;
/*	margin: .5em 0;
*/}
.btn:hover {
	background: #EAEAEA;
	color: #333;
}

header.App-header {
/*	font-family: 'Titillium Web', sans-serif;
*/	font-family: 'B612', sans-serif;
/*	font-size: 2em;
*//*	background: rgb(2,0,36);
	background: -moz-linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	background: -webkit-linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
  	background-repeat: no-repeat;
  */
  min-height: 450px;
}

header p {
	font-size: 2em;
}

.content-title{ 
	font-weight: 1000;
	font-size: 3em;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
 }

.card-content {
	padding: 2em;
}

#myname {
	text-align: center;
	background: #87CFFA;
	color: white;
	margin: 0;
	padding: 1em 0 0 0.7;	
	cursor: pointer;
}

img.headshot {
	border-radius: 50%;
    float: right;
}

img.makapuu-picture{
/*	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
*/
  box-shadow: 3px 3px 1px #ccc;
  -webkit-box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #ccc;
}

@media (max-width: 400px) {
	.favorite-pics-container {
	  display: block;
	}
  }
div.favorite-pics-container {
	/* display:flex;
	flex-direction: row; */
	/* flex-wrap: wrap; */
	/* justify-content: center; */
}
img.card-picture {
	display: block;
	flex: 1;
	/* flex-basis: 300px; */
	max-width: 30%;
	width:30%;
	/* border-radius: 5%; */
	background: #FFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	/* margin: 0 .2em; */
	border: 2px solid #000;
	transition: 0.2s;
}
.card-picture:hover {
	transform: scale(0.9, 0.9);
	box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
#projects {
 background: #4A56EA;
 color: #FFF;
}

#resume {
 background: #FFDE83;
 color: #FFF;
}

#interests {
 background: #FFC783;
 color: #FFF;
}

#favorite-movies {
 background: #5FBDF4;
 color: #FFF;
}

.list-transition-enter-active {
	top: 45px;
	max-height: 200px;

	transition: all 400ms;
	}