.projects-header {
  box-sizing: content-box;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.projects-header > h1 {
  font-weight: 200;

}

.projects-header > h1:after {
  content: '';
  width: 50%;
  height: 1px;
  position: relative;
  background: #000;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.25rem;

}